<div class="container-fluid">
    <sg-wandbox-header></sg-wandbox-header>
    <div class="row">
        <div class="col-md-2 wandbox-menu-left">
            <sg-wandbox-compiler></sg-wandbox-compiler>
            <sg-wandbox-sponsors></sg-wandbox-sponsors>
        </div>
        <div class="col-md-10" id="codepanel">
            <div class="row">
                <div class="col-md-offset-8 col-md-4">
                    <div class="wandbox-author">
                    </div>
                </div>
            </div>
            <sg-wandbox-editor></sg-wandbox-editor>
        </div>
    </div>
</div>
